<!-- <script>
  /* Add custom analytics integration here, e.g. */
  var property = "{{ config.extra.analytics.property }}"

  defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "abc9f23fa28140249d8963fe2c85940a"}'

  /* Wait for page to load and application to mount */
  document.addEventListener("DOMContentLoaded", function() {
    location$.subscribe(function(url) {
      /* Add custom page event tracking here */ 
    })
  })
</script> -->



<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "abc9f23fa28140249d8963fe2c85940a"}'></script>
<!-- End Cloudflare Web Analytics -->


<!-- Clicky analytics -->
<script async data-id="101432599" src="//static.getclicky.com/js"></script>
